[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
sphinx = "*"
tqdm = "*"
furo = "*"
ipdb = "*"
tables = "*"

[dev-packages]

[requires]
python_version = "3.10"
